[submodule "external/NeMo-Agent-Toolkit-UI"]
	path = external/NeMo-Agent-Toolkit-UI
	url = https://github.com/NVIDIA/NeMo-Agent-Toolkit-UI.git
	branch = main
[submodule "external/context-aware-rag"]
	path = external/context-aware-rag
	url = https://github.com/NVIDIA/context-aware-rag.git
	branch = dev/streaming-data-to-rag
